adafruit_pyportal==3.2.1
neopixel==5.1.0
adafruit_requests==1.4.0
adafruit_sdcard==3.3.0
adafruit_touchscreen==1.1.0
adafruit_adt7410==1.2.0
adafruit_logging==1.2.1
adafruit_esp32spi==3.3.0
adafruit_bus_device==4.3.0
adafruit_bitmap_font==1.1.1
adafruit_io==3.1.2
adafruit_display_text==2.5.0
adafruit_register==1.8.0
